In [1]:
# Getting Started with Pandas
# Objective: Introduce students to using Pandas for data analysis by loading data into Pandas
# DataFrames.

# Question 1: Importing Pandas and Loading a CSV File
# 1. Open your Jupyter Notebook or a Python environment.
# 2. Import the pandas library.
# 3. Load a CSV file into a DataFrame.




# Question 2: Displaying the First Few Rows
# 4. Use the head() method to display the first five rows of the DataFrame.





# Question 3: Basic Data Information
# 5. Use the info() method to get a concise summary of the DataFrame.

# Step 1 & 2: Import the pandas library
import pandas as pd

# Step 3: Load a CSV file into a DataFrame
# Replace 'your_file.csv' with the actual filename or path to your CSV
df = pd.read_csv('swiggy.csv')
# Step 4: Display the first five rows
df.head()
# Step 5: Get a concise summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8680 entries, 0 to 8679
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             8680 non-null   int64
 1   Area           8680 non-null   object
 2   City           8680 non-null   object
 3   Restaurant     8680 non-null   object
 4   Price          8680 non-null   float64
 5   Avg ratings    8680 non-null   float64
 6   Total ratings  8680 non-null   int64
 7   Food type      8680 non-null   object
 8   Address        8680 non-null   object
 9   Delivery time  8680 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 678.2+ KB

In [4]:
# Data Inspection & Selection
# Objective: Learn how to inspect data and select specific data points.

# Question 1: Inspecting Column Data Types
# 6. Use the dtypes attribute to inspect the data types of each column.




# Question 2: Selecting Columns
# 7. Select a single column from the DataFrame.





# Question 3: Slicing Rows
# 8. Select specific rows using slicing.

df.dtypes
df[['City']]
df[2:5]

,ID,Area,City,Restaurant,Price,Avg ratings,Total ratings,Food type,Address,Delivery time
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63

In [8]:
# Data Cleaning & Manipulation
# Objective: Practice cleaning data and manipulating DataFrames.

# Question 1: Handling Missing Values
# 9. Use the fillna() method to fill missing values with a specific value.




# QUestion 2: Renaming Columns
# 10. Change the names of specific columns using rename().




# Question 3: Dropping Duplicates
# 11. Remove duplicate rows from the DataFrame.

df_filled = df.fillna(0)
df['Price'] = df['City'].fillna(df['Price'].mean())
df_renamed = df.rename(columns={'City': 'Place'})
df_no_duplicates = df.drop_duplicates()

In [10]:
# Data Aggregation & Exporting
# Objective: Aggregate data and export the results.

# Question 1: Grouping and Aggregating Data
# 12. Group data by a specific column and calculate the mean for each group.





# Question 2: Exporting Data to CSV
# 13. Export the DataFrame to a new CSV file.





# Question 3: Aggregating with Multiple Functions
# 14. Apply several aggregate functions to the grouped data.

import pandas as pd

# Load the CSV file
df = pd.read_csv('swiggy.csv')  # Update path if needed

# Group by a specific column (e.g., 'Area') and calculate the mean
grouped_mean = df.groupby('Area')[['Price', 'Avg ratings']].mean()

# Display result
print("Grouped Mean by Area:")
print(grouped_mean.head())

# Export the grouped mean DataFrame to a new CSV file
grouped_mean.to_csv('grouped_mean_by_area.csv', index=True)

# Apply multiple aggregate functions (mean, min, max) to grouped data
grouped_multi = df.groupby('Area')[['Price', 'Avg ratings']].agg(['mean', 'min', 'max'])

# Display result
print("\nGrouped with Multiple Aggregations:")
print(grouped_multi.head())

Grouped Mean by Area:
                                 Price  Avg ratings
Area
 Akhbar Nagar Circle             200.0          2.9
 Begumpet                        480.0          2.9
26                               450.0          4.2
3Rd Block Jayanagar              100.0          4.0
A Unit Of M/S Cohort  Ruby Area  300.0          4.2

Grouped with Multiple Aggregations:
                                 Price               Avg ratings
                                  mean    min    max        mean  min  max
Area
 Akhbar Nagar Circle             200.0  200.0  200.0         2.9  2.9  2.9
 Begumpet                        480.0  480.0  480.0         2.9  2.9  2.9
26                               450.0  450.0  450.0         4.2  4.2  4.2
3Rd Block Jayanagar              100.0  100.0  100.0         4.0  4.0  4.0
A Unit Of M/S Cohort  Ruby Area  300.0  300.0  300.0         4.2  4.2  4.2